/* src/styles/LoginForm.css */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url('../../public/images/login-panel.jpeg');
  background-color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), url('../../public/images/login-page.jpeg')); */
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  
}

.input-group {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #333;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.remember label {
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.remember label input {
  margin-right: 0.5rem;
  accent-color: #0056b3;
}

button {
  /* width: 100%; */
  background: #0056b3;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0.75rem 0;
  transition: background-color 0.3s ease;
}

#loginBtn {
  width: 100%;
}
button:hover {
  background-color: #003d82;
}

.register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link a {
  color: #0056b3;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

select.input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #333;
  padding: 0 5px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .form {
    padding: 1.5rem;
  }
}