.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .popup-form label {
    margin-bottom: 10px;
  }
  
  .popup-form input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .popup-form button {
    padding: 10px;
    margin-right: 10px;
  }

  .submit-btn {
    margin-bottom : 7px;
  }